---
---

@import "{{ site.theme }}";
ul {
    list-style: none;
    padding: 0;
}
.fab {
    margin: 8px;
    display: inline;
    font-size: 3em;
}
.fab:hover {
    color: white;
    text-decoration: none;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.description {
    display: none;
}
