---
---

@import "{{ site.theme }}";
#links ul {
    margin: 0;
    list-style: none;
    padding: 0;
    text-align: center;
}
.iconic {
    margin: 8px;
    display: inline;
    font-size: 3rem;
}

.description {
    display: none;
    position: absolute;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    background-color: black;
}

#links ul li {
    display: inline-block;
    margin: 0.25em;
}

#links ul li:hover .description {
    display: inline;
}

#title {
    margin: 0.25em;
    padding: 0.25em;
}
